*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-image: url(../assets/fondo.png);
    background-size: cover;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
   min-height: 100%;
   position: relative;
}

.menu{
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*Homepage*/
.logo1{
    height: 200px;
}
.carousel-content{
    width: 100%;
    top: 0px;
position: absolute;
z-index: -1;
}
.navbar-toggler {
    font-size: 24px; 
  }

ul{
    display: flex;
}
.navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    position: relative;
    float: left;
}
.navbar ul li a:hover{
    color: #f35d26;
}
#menu{
    display: none;
}
.menu-icono{
    width: 200px;
    left: 50px;
}
.menu label{
    cursor: pointer;
    display: none;
}


   .header-content h2 {
    font-size: 70px;
  }
  
  .header-content p {
    font-size: 18px;
    margin: 20px 0;
    text-align: center; 
    max-width: 800px;
  }
  
  .boton {
    display: inline-block;
    padding: 11px 25px;
    background-color: #f35d26;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 25px 0;
    border: 0;
    text-decoration: none;
  }
  
  .header-content .boton:hover {
    background-color: #3C0E4C;
  }
  



.aboutus{
    display: flex;
    
}
.aboutus-1{
    background-image: url(../assets/aboutus2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.aboutus-2{
    width: 50%;
    padding: 150px 250px 150px 100px;
    background-color: #000000;
}
h2{
    font-size: 90px;
    line-height: 100px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 0px;
}
p{
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 25px 0;
}
.a-2{

   display: inline-block;
   padding: 11px 25px;
   background-color: #f35d26;
   color: white;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 20px;
   margin: 25px 0;
   border: 0;
text-decoration: none;
}
.a-2:hover {
    background-color: #3C0E4C;
}
.proxevents{
    margin-top: 800px;
    text-align: center;
    position: relative;
    
}
.proxevents-1{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.proxevents-1 p{
    padding: 15px 0;
}
.eventsgroup{
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
}
.proxevents-1{
    background-color: #f35d26;
    padding: 35px 25px;
    margin: 0 10px;
    border-radius: 10px;
    width: 400px;
}
.proxevents-1 img{
    width: 200px;
    margin-bottom: 15px;
}
.proxevents-1 h3{
    font-size: 25px;
    color: aliceblue;
}
.events-txt{
    font-size: 60px;
    font-weight: bold;
    color: white;
    
}
.about-txt{
    font-size: 70px;
    font-weight: bolder;
    color: #f35d26;
}
.proxevents-1 a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.bn{
    padding: 11px 25px;
    background-color: #3C0E4C;
    border-radius: 5px;
    border: 0;
}
.bn:hover{
    background-color: #F6CA18;
}
.info{
    font-size: 15px;
    text-align: center;
}
.footer{
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}
.tc{
    color: white;
    text-decoration: none;
}
.tc:hover{
    color: #f35d26;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campo{
    margin-bottom: 5px;
    padding: 20px 15px;
    width: 500px;
    background-color: black;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    color: aliceblue;
    font-size: 30px;
}
.footer-txt{
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campo{
    margin-bottom: 5px;
    padding: 20px 15px;
    width: 500px;
    background-color: black;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    color: aliceblue;
    font-size: 30px;
}
.footer-txt{
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}


/*Eventos Page*/

body {
    background-color: #3C0E4C;
    margin: 0;
    overflow-y: scroll; 
    position: relative;
}


.eventospag {
    padding: 100px 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/eventos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    z-index: 0; 
}

.eventospag::before {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

.eventospag h2 {
    font-size: 60px;
    margin-top: 100px;
    color: white;
    position: relative;
    z-index: 1; 
}

.contenedor-conciertos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    z-index: 1; 
}

.card .textos{
height: 100%;
color: white;
}
.grid0{
grid-column: 1/1;
grid-row: 1/1;
}
.grid1{
grid-column: 2/2;
grid-row: 1/1;
}
.grid2{
    grid-column: 3/3;
    grid-row: 1/1;
}
.grid3{
grid-column: 1/1;
grid-row: 2/2;
}
.grid4{
grid-column: 2/2;
grid-row: 2/2;
}
.grid5{
    grid-column: 3/3;
    grid-row: 2/2;
}
.card{
    border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 10px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    margin-top: 40px;
}
.contenedor{
    width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
}
.contenedor-conciertos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}
.title-events{
    font-size: 80px;
    color:  rgb(43, 42, 42);
    text-align: center;
   
}
.text-events{
    font-size: 20px;
    margin: 10px;
    text-align: center;

}
/*Soporte*/
.soportepag {
    padding: 100px 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/help.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    z-index: 0; 
}

.soportepag::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

.soporte-txt {
    font-size: 60px;
    margin-top: 100px;
    color: white;
    position: relative;
    z-index: 1; 
}
.soporte-title{
    font-size: 60px;
    color:  rgb(255, 255, 255);
    text-align: center;
   
}


.search {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.buscador {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    margin-right: 10px; 
}

.botonbuscador {
    padding: 10px 20px; 
    font-size: 18px;
    background-color: #f35d26;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.sup-container {
    max-width: 800px; 
    margin: 50px auto 0; 
    text-align: center;
    margin-bottom: 50px;
}

.sup-container h2 {
    font-size: 32px; 
    color: #ffffff; 
}
/*acordeon*/
.accordion-container {
    max-width: 800px; 
    margin: 0 auto; 
}

.accordion-button {
    background-color: #f35d26; 
    color: white; 
    border: none;
    border-radius: 10px;
   
}

.accordion-button:hover {
    background-color: #f35d26; 
}

.accordion-body {
    background-color: #f35d26; 
    color: rgb(0, 0, 0); 
    border-radius: 10px;
    padding: 15px;
}
.help {
    margin-top: 20px;
    padding: 40px 0;
    text-align: center;
}

.helptxt {
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

.helptxt h2 {
    font-size: 16px;
    max-width: 100%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.forms h3 {
    color: white;
    font-size: 16px;
    
}

.forms input,
.forms textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    margin: 5px 0;
}

.forms textarea {
    height: 150px; 
}

.enviarmsj {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    background-color: #f35d26;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

/*TERMINOS Y CONDICIONES*/
body {
    background-color: #3C0E4C;
    margin: 0;
    overflow-y: scroll; 
    position: relative;
}


.tyc-container {
    padding: 100px 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/eventos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    z-index: 0; 
}
.tc-container{
    margin-top: 20px;
    padding: 40px 0;
    text-align: center
}
.tyc-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

.tyc-content {
    max-width: 800px;
    margin: 10px auto; 

}

.tyc-content h2 {
    font-size: 60px;
    margin-top: 100px;
    color: white;
    position: relative;
    z-index: 1; 
}

.tc-content h3 {
    font-size: 24px;
    margin-top: 20px;
    color: #f35d26;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
   
}

.tc-content p {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

/*CONTACTO*/
body {
    background-color: #3C0E4C;
    margin: 0;
    overflow-y: scroll; 
    position: relative;
}


.contactpag {
    padding: 100px 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/eventos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    z-index: 0; 
}

.contactpag::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}
.contactpag h2 {
    font-size: 60px;
    margin-top: 100px;
    color: white;
    position: relative;
    z-index: 1; 
}
.contacto-container{
    margin-top: 20px;
    padding: 40px 0;
    text-align: center;
}
.contact-seccion{
    max-width: 800px;
    margin: 0 auto;
    color: #f35d26;
}

.forms2 h3 {
    color: white;
    font-size: 16px;
    
}

.forms2 input,
.forms2 textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    margin: 5px 0;
}


/*MEDIA QUERYS*/


@media only screen and (max-width: 480px) {
    /*homepage*/
  
    .logo1{
        height: 80px;
        margin: 0;
    }
    .navbar-toggler {
        font-size: 15px;
    }
    .textoheader{
    margin-top: 100px;
    padding: 30px;
    }

      .header-content h2 {
        
        font-size: 20px;
       
        
      }
      
      .header-content p {
        font-size: 14px; 
        
      }
      
      .header-content {
        font-size: 8px; 
      }
      .headerbutton{
        margin-bottom: 150px;
        padding: 5px 10px;
        font-size: 8px; 
      }
      
      
.proxevents{
    margin-top: 200px;
}
  
    .proxevents p{
        
        font-size: 10px;
        text-align: center;
    }
  
    .eventsgroup {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .proxevents-1 {
     max-width: 50%;
      margin: 10px auto;
      padding: 15px;
      
    }
    .proxevents-1 img {
      width: 100px;
      margin-bottom: 10px;
    }
    .proxevents-1 h3 {
      font-size: 18px;
    }
    .events-txt {
      font-size: 20px;
    }
 
    .aboutus-1 {
      background-image: none;
    }
  
    .aboutus-2 {
      width: 100%;
      
      text-align: left; 
    }
  
    h2 {
      font-size: 28px;
    }
  
    p {
      font-size: 14px;
      margin: 10px 0;
      text-align: left; 
    }
  
    .a2 {
      font-size: 14px;
    }
  
    .about-txt {
      font-size: 40px;
      margin-bottom: 20px;
    }
    
      .campo {
        font-size: 100%;
       max-width: 200px;
      }
      
/*Eventos*/
.eventos-txt h2{
font-size: 30px;
}
.eventos-txt p{
    text-align: center;
}
.contenedor-conciertos{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    z-index: 1; 
}

.grid0{
grid-column: 1/1;
grid-row: 1/1;
}
.grid1{
grid-column: 1/1;
grid-row: 2/2;
}
.grid2{
    grid-column: 1/1;
    grid-row: 3/3;
}
.grid3{
   grid-column: 1/1;
   grid-row: 4/4;
}
.grid4{
    grid-column: 1/1;
    grid-row: 5/5;
}
.grid5{
    grid-column: 1/1;
    grid-row: 6/6;
}


/*Soporte*/
.soporte-txt h2{
    font-size: 30px;
}
.soporte-txt p{
    text-align: center;
}

    /*terminos y condiciones*/
    .tyc-content h2{
        font-size: 30px;
    }
    
    
    
}
    
