//Colores//

$color1: #f35d26;
$color2: #ffffff;
$hovercolor: #3C0E4C;
$color3: #F6CA18;
$color4: black; 

//Mapa//

$text:(
    derechos: #9c1313,
    contenido: #af080800,
    privacidad: #a30c0ccc,
);
@each $derechos, $color in $text{
.text__#{$derechos}{
    background-color: #9c1313;
}
}